@import "./include-media";

$primary-red: hsl(0, 78%, 62%);
$primary-cyan: hsl(180, 62%, 55%);
$primary-orange: hsl(34, 97%, 64%);
$primary-blue: hsl(212, 86%, 64%);
$font-size: 15px;
$font-color: #4b4a5c;
$font-family: Poppins,
sans-serif;
$font-weight-sm: 200;
$font-weight-md: 400;
$font-weight-lg: 600;



body {
    box-sizing: border-box;
    font-size: $font-size;
    font-family: $font-family;
    color: $font-color;
}

p {
    margin-bottom: 0;
}

p+p {
    margin-top: 0;
}

.main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.fw-sm {
    font-weight: $font-weight-sm;
}

.fw-md {
    font-weight: $font-weight-md;
}

.fw-lg {
    font-weight: $font-weight-lg;
}

.fs-xl {
    font-size: x-large;
}

.fs-xxl {
    font-size: xx-large;
}

.txt-ctr {
    text-align: center;
}

div.cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, auto));
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-areas:
        ". team-builder ."
        "supervisor team-builder karma"
        "supervisor calculator karma"
        ". calculator .";

    div.card {
        height: 250px;
        box-shadow: 2px 2px 10px 2px #d6d6d6;
        border-radius: 5px;
        border-top: 5px solid black;
        padding: 5px 20px;

        display:flex;
        flex-flow: column nowrap;
        align-items: stretch;

        & > div {
            display: block;
            margin-top: 40px;
            text-align: right;
        }
    }

    div.team-builder {
        grid-area: team-builder;
        border-top-color: $primary-red
    }

    div.supervisor {
        grid-area: supervisor;
        border-top-color: $primary-cyan;
    }

    div.karma {
        grid-area: karma;
        border-top-color: $primary-blue;
    }

    div.calculator {
        grid-area: calculator;
        border-top-color: $primary-orange;
    }
}

@include media("<950px") {
    div.cards {
        grid-template-columns: 300px;
        grid-template-rows: auto;
        grid-template-areas: "supervisor"
        "team-builder"
        "karma"
        "calculator";
        column-gap: 0px;
        justify-content: center;
    }
}